# Proxmox API credentials (SENSITIVE)
proxmox_api_url          = "https://172.16.11.1:8006/api2/json"
proxmox_api_token_secret = "PVEAPIToken=root@pam!terraform=your-api-token-secret"
target_node              = "your-proxmox-node"

# VM password (SENSITIVE)
vm_password = "P@ssw0rd123!"
